html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom style */
* {
  box-sizing: border-box;
}
.main-container {
  max-width: 100%;
}
.header {
  background-color: #5385c1;
  font-size: 0;
}
.header-span {
  width: 200px;
  font-size: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 50px;
}
.header-text {
  color: white;
  font-weight: bold;
}
.header-nav {
  text-align: right;
  width: calc(100% - 200px);
  display: inline-block;
  box-sizing: border-box;
  padding-right: 100px;
  padding-top: 50px;
}
.header-tag {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}
.container1 {
  max-width: 100%;
  background-color: #5385c1;
  text-align: center;
  padding-bottom: 20px;
}
h1 {
  font-size: 40px;
  color: white;
  padding-top: 10%;
}
.container1-txt {
 
  color: rgb(228, 222, 222);
  padding-top: 1%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container2 {
  width: 100%;
 
  font-size: 0;
  margin: 0 auto;
  text-align: center;
}
.container2-box {
  width: 15%;
  height: 300px;
  
  display: inline-block;
 
  text-align: left;
  box-sizing: border-box;
  padding-top: 3%;
}
h2 {
  font-size: 15px;
  color: #5385c1;
  text-align: left;
}
.container2-para {
  padding-top: 15%;
  display: inline-block;
}
.container2-txt {
  font-size: 10px;
  text-align: left;
}
.container2-nav {
  width: 100px;
  height: 100px;
  
  display: inline-block;
  padding-top: 15%;
}
.container2-btn {
  width: 50px;
  height: 30px;
  background-color: #2378df;
  display: inline-block;
  border: none;
}
.container2-tag {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.container3 {
  width: 100%;
  background-color: #5385c1;
  text-align: center;
}
h3 {
  font-size: 30px;
  color: rgb(241, 238, 238);
  padding-top: 3%;
}
.container3-sub-heading {
  font-size: 10px;
  color: rgb(240, 236, 236);
 
}
.container3-box-container {
  width: 100%;
  border: none;
  font-size: 0;
  background-color: #5385c1;
}
.container3-box {
  width: 190px;
  height: 250px;
  border: 0.2px solid silver;
  margin: 1.5%;
  display: inline-block;

  border-radius: 2px;
}
.container3-img-box {
  width: 100px;
  height: 100px;
  border: 1px solid silver;
  /* margin: 10% 5%; */
  border-radius: 50%;
  margin: 20px auto;
  box-sizing: border-box;
  font-size: 0;
}
.container3-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.container3-img-name {
  color: white;
  margin: 10px auto;
  font-size: 20px;
}
.container3-txt {
  font-size: 10px;
  color: silver;
}
.container4 {
  max-width: 100%;
  background-color: white;
  position: relative;
}
.container4-heading {
  color: #7ea3d0;
}
.container4-txt {
  color: silver;
  padding-bottom: 20px;
  font-size: 10px;
}
.container4-art1 {
  max-width: 576px;
  position: absolute;
  left: 80px;
}
.container4-art2 {
  max-width: 576px;
  position: absolute;
  right: 80px;
}
h4 {
  color: #5c8bc4;
  font-size: 20px;
  text-align: left;
  margin-top: 5%;
}
.container4-para {
  text-align: left;
  font-size: 15px;
  padding-top: 30px;
  color: silver;
}
.container4-btn {
 
  height: 30px;
  background-color: #2378df;
 
  border: none;
  position: absolute;
  left: 1px;
  margin-top: 30px;
}
footer {
  position: absolute;
  bottom: -70rem;
  left: 50px;
  right: 50px;
  
}
hr {
  border-top: 1px solid rgb(99, 95, 95);
  bottom: 10px;
}
.footer-div {
  max-width: 1000px;
  font-size: 10px;
  color: rgb(121, 117, 117);
  display: inline-block;
}
.footer-nav {
  width: 300px;
  text-align: right;
  
  float: right;
}
.footer-tag {
  padding: 10px;
  color: #5c8bc4;
}
